html {
  font-family: sans-serif;
  font-size: 14px;
}

h1 {
  text-align: center;
}

.authenticate {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.authenticate form {
  width: 500px;
  margin: 0 auto;
}

.authenticate form button {
  display: block;
  margin: 0 auto;
}

.modal {
  display: block !important;
}

.modal textarea {
  width: 100%;
  min-height: 500px;
}

.keychain {
  padding: 10px;
}

.editable-count {
  float: right;
}

table {
  width: 100%;
  table-layout: fixed;
}

table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table th:last-child {
  width: 62px;
}
